*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: gilroy;
}
html,body{
    height: 100%;
    width: 100%;
}
.page{
    height: 100%;
    width: 100%;
    position: relative;
    /* overflow: hidden; */
    background-color: aquamarine;
}
.page>.center{
    height: 100%;
    width: 70%;
    margin-left: 15%;
    background-color: green;
}
.container1{
    height: 50%;
    width: 50%;
    background-color: red;
}
.box1{
    height: 80%;
    width: 80%;
    background-color: antiquewhite;
    line-height: 40px;
}
.container2{
    position: absolute;
    height: 50%;
    width: 35%;
    background-color: yellow;
}
.container3{
    display: flex;
    margin-bottom: 50%;
    margin-left: 50%;
    height: 50%;
    width: 50%;
    background-color:blue;
}
.container4{
    margin-bottom: 50%;
    margin-left: 50%;
    height: 50%;
    width: 50%;
    background-color:green;
}
